sudo: required
dist: trusty
language: node_js
node_js:
  - '6'
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
    - openjdk-7-jdk
    - lib32stdc++6
    - lib32z1
env:
  CXX=g++-4.8


before_script:
  - wget http://dl.google.com/android/android-sdk_r24.4-linux.tgz
  - tar -xvf android-sdk_r24.4-linux.tgz
  - echo y | ./android-sdk-linux/tools/android update sdk --no-ui --all --filter platform-tools
  - echo y | ./android-sdk-linux/tools/android update sdk --no-ui --all --filter build-tools-23.0.2
  - echo y | ./android-sdk-linux/tools/android update sdk --no-ui --all --filter android-23
  - echo y | ./android-sdk-linux/tools/android update sdk --no-ui --all --filter extra-android-support
  - echo y | ./android-sdk-linux/tools/android update sdk --no-ui --all --filter extra-android-m2repository
  - echo y | ./android-sdk-linux/tools/android update sdk --no-ui --all --filter extra-google-m2repository
  - export ANDROID_HOME=$PWD/android-sdk-linux
  - export PATH=${PATH}:$ANDROID_HOME/tools:$ANDROID_HOME/platform-tools:$ANDROID_HOME/build-tools/23.0.2
  - mkdir "$ANDROID_HOME/licenses"
  - echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"

before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
install:
  - npm run apply:copay

script:
  - pwd
  - npm run build:desktop
  - ls -al /home/travis/build/particl/copay/
  - zip -r copay.win64.zip webkitbuilds/Particl\ Copay/win64/*
  - zip -r copay.linux64.zip webkitbuilds/Particl\ Copay/linux64/*
  - zip -r copay.osx64.zip webkitbuilds/Particl\ Copay/osx64/*
  - if [ -f copay.win64.zip ]; then travis_retry curl --max-time 60 --upload copay.win64.zip https://transfer.sh/; fi
  - if [ -f copay.linux64.zip ]; then travis_retry curl --max-time 60 --upload copay.linux64.zip https://transfer.sh/; fi
  - if [ -f copay.osx64.zip ]; then travis_retry curl --max-time 60 --upload copay.osx64.zip https://transfer.sh/; fi
  - npm run final:www && npm run build:android-release
  - cp ~/build/particl/copay/platforms/android/build/outputs/apk/android-release-unsigned.apk .
  - if [ -f android-release-unsigned.apk ]; then travis_retry curl --max-time 20 --upload android-release-unsigned.apk https://transfer.sh/; fi
# after_success:
#   - npm run exec:coveralls
