<ion-header>
  <ion-navbar [navbar-bg]="wallet?.color">
    <ion-title>Cold Staking Setup</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item-divider>
      <ion-item class="scan-wrapper" [ngClass]="{'invalid': invalidColdStakingKey && search != ''}">
        <ion-input placeholder="{{'Enter cold staking address or xpub key' | translate}}" [(ngModel)]="search" (ngModelChange)="processInput()" [disabled]="isActivated"></ion-input>
        <ion-icon *ngIf="invalidColdStakingKey && search != ''" item-end class="backspace-icon" name="backspace" (click)="search = ''"></ion-icon>
        <ion-icon *ngIf="!isActivated" item-end class="scan-icon" (click)="openScanner()">
          <img src="assets/img/scan-ico.svg">
        </ion-icon>
      </ion-item>
      <span class="stake-key-error" *ngIf="invalidColdStakingKey">{{stakingKeyError}}</span>
    </ion-item-divider>
    
    <ion-item-divider>
      <span>To activate, generate a cold staking public key on your staking node and enter it above. To read more about <a href="https://particl.wiki/faq_part_coin_staking" target="_blank" matTooltip="Particl.wiki > Staking" tabindex="-1">(Cold) Staking</a> and check out the <a href="https://particl.wiki/tutorials#staking" target="_blank" matTooltip="Particl.wiki > Staking Tutorials" tabindex="-1">Cold staking tutorials</a> on Particl Wiki</span>
    </ion-item-divider>
    <button ion-button *ngIf="!isActivated" class="button-standard" (click)="activate()" [disabled]="invalidColdStakingKey">
      {{'Activate' | translate}}
    </button>
    <button ion-button *ngIf="isActivated" color="danger" class="button-standard" (click)="deactivate()">
      {{'Deactivate' | translate}}
    </button>
  
    <ion-item-divider *ngIf="isActivated">
      <progress-bar [progress]="activationPercent"></progress-bar>
    </ion-item-divider>
  </ion-list>
</ion-content>